# Using tutorials from python official site

In [ ]:
the_world_is_flat=True
if the_world_is_flat:
    print('Becareful not to fall off!')

In [12]:
word1='God  is '
word2='King'
print(word1,word2)

God  is  King

In [13]:
word1+word2

'God  is King'

In [22]:
word='Python'

word[-2:]

'on'

In [39]:
#fibonacci
a,b=0,1
i=0
while a<100:
    i+=1
    print('step',i,a ,end=',')
    a,b,=b, a+b

step 1 0,step 2 1,step 3 1,step 4 2,step 5 3,step 6 5,step 7 8,step 8 13,step 9 21,step 10 34,step 11 55,step 12 89,

code that modifies a collection while iterating over thar same collection can be tricky to get right. insteady, it is usually more straight forward to loop over a copy of the collection or to create a new collection:

In [58]:
users={'Hans':'active','Eleonore':'inactive','Mike':'active'}

for user,status in users.copy().items():
    if status=='inactive':
        del users[user]
print(users)        
active_users={}
for user,status in users.items():
    if status=='active':
        active_users[user]=status
print(active_users)

{'Hans': 'active', 'Mike': 'active'}
{'Hans': 'active', 'Mike': 'active'}

In [3]:
n=10
if n in range(5):
    print("hello 10")
else:
    print("not found 10")

not found 10

In [11]:
a=['Mary','had','a','little','lamb']
# for i in range(len(a)):
#     print(i,a[i])
for i in enumerate(a):
    print(i)

(0, 'Mary')
(1, 'had')
(2, 'a')
(3, 'little')
(4, 'lamb')

In [ ]:
for n in range (2,10):
    for x in range(2,n):
        if n % x == 0:
            print(n, 'is not a prime number')
            print(n, 'equals',x, '*',n//x)
            break
    else: 
            print(n, 'is a prime number')

In [ ]:
for n in range (2,10):
     for x in range(2,n):
        
        if n % x == 0:
            print(n, 'is not a prime number')
            print(n, 'equals',x, '*',n//x)
            break
     else: 
            print(n, 'is a prime number')

In [ ]:
def http_error(status):
    match status:
        case 404:
            return 'Not Found'
        case 222|300|50:
            return 'many requests/cases'
        case 403:
            return 'Forbidden'
        case 401:
            return 'Unauthorized'
        case 500:
            return 'Internal Server Error'
        case 503:
            return 'Service Unavailable'
        case _: #when status < 400 or status >= 600:
            return 'Invalid Status Code'

In [2]:
# point is an (x,y) tuple

point=(2,6)
match point:
    case (0,0):
        print("Origin")
    case (0,y):
        print(f'Y={y}')
    case (x,0):
        print(f'X={x}')
    case (x,y):
        print(f'X={x}, Y={y}')
    case _: 
        raise ValueError('Not a point')

X=2, Y=6

In [ ]:
from dataclasses import dataclass

@dataclass
class Point:
    x: int
    y: int

# Setting the __match_args__ attribute
Point.__match_args__ = ("x", "y")

point = Point(1, 2)

match point:
    case Point(1, var):
        print(f"Matched with y={var}")
    case Point(x=1, y=var):
        print(f"Matched with y={var}")
    case Point(y=var, x=1):
        print(f"Matched with y={var}")

Matched with y=2

In [ ]:
#We can create a function that writes the Fibonacci series to an arbitary file
#n
def fib(n):
    a,b=0,1
    while a<n:
        print(a, end=' ')
        a,b=b,a+b 
    print()
        
fib(2000)

In [3]:
fib

In [4]:
f=fib

In [5]:
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [13]:
def fib2(n):
    """ Return a list containing the fibonacci series up to n"""
    result=[]
    a,b=0,1
    while a<n:
        result.append(a)
        a,b =b,a+b
    return result

In [14]:
f100=fib2(100)

In [ ]:
f100

In [16]:
def ask_ok(prompt, retries=4,reminder="Please try again!"):
    while True:
        reply= input(prompt)
        if reply in{'y','ye','yes'}:
            return True
        if reply in {'n','no','nop','nope'}:
            return False
        retries=retries-1
        if retries<0:
            raise ValueError("Invalid user response")
        print(reminder)

In [ ]:
ask_ok('Do you really want to quit?')

In [ ]:
ask_ok('OK to overwrite the file?',2)

In [25]:
ask_ok('OK to overwrite the file?',2,'Come on,yes or not')

True

In [35]:

stacklen=int(input("Enter the stack length"))
stack=[]
while stacklen>0:
    stack.append(int(input("Enter an integer: ")))
    stacklen-=1
print(stack)
print(sum(stack))

[2]
2

In [ ]:
def cheeseshop(kind, *arguments, **keywords):
    print(f"-- Do you have any {kind}?")
    print(f"-- I'm sorry, we're all out of {kind}")
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(f"{kw}: {keywords[kw]}")

cheeseshop("Limburger", "It's very runny, sir.", "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin", client="John Cleese", sketch="Cheese Shop Sketch")

In [ ]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [ ]:
def standard_arg(arg):
    print(arg)

def pos_only_arg(arg,/):
    print(arg)

def kwd_only_arg(*, arg):
    print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

SyntaxError: invalid syntax (1387746791.py, line 4)

In [11]:
standard_arg(arg=2)

2

In [ ]:
pos_only_arg(arg="Postion")

In [ ]:
kwd_only_arg(0)

In [20]:
def foo(name, **kwds):
    return'name' in kwds

In [ ]:
foo(1,**{'nam':2})

In [25]:
def foo(name, /, **kwds):
    return 'name' in kwds

foo(1, **{'name': 2})

True

In [ ]:
def print_items(*args, **kwargs):
    for item in args:
        print(item)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Example usage
print_items("apple", "banana", "cherry", fruit="apple", color="red")

In [ ]:
def concat(*args, sep="/"):
    return sep.join(args)

concat("earth", "mars", "venus")
'earth/mars/venus'
concat("earth", "mars", "venus", sep="")
'earth.mars.venus'

'earth.mars.venus'

In [36]:
args=[3,10]
list(range(*args))

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
def parrot(voltage, state='a stiff',action='voom'):
    print("--This parrot wouldn't", action, end=' ')
    print('iff you put', voltage, "volts though it",end=' ')
    print("E's", state, "!")
    d = {'voltage':'for million', 'state':"bleedin' demised","action":'voom'}
    print(parrot(**d))

In [15]:
def make_incrementor(n):
    return lambda x:x+n
f=make_incrementor(42)
f(0)

42

In [16]:
f(1)

43

In [28]:
pairs =[(1,'one'),(2,'two'),(3,'three'),(4,'four')]
pairs.sort(key=lambda pair :pair[1])

In [22]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [46]:
t=[1,2,3,4,5,6,7,8,9,10,11]
t1=t.extend(range(12,30,2))
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [30]:
t.insert(10,17)

In [31]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 17, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [32]:
t.remove(14)

In [33]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 17, 11, 12, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
t.remove(500)
t

In [37]:
t.pop()

28

In [42]:
t

[]

In [47]:

t.append(t1)
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, None]

In [59]:
t.index(16,10,18)

13

In [61]:
t.count(1)

1

In [62]:
t.reverse()

In [63]:
t

[None, 28, 26, 24, 22, 20, 18, 16, 14, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
t.remove(None)

In [65]:
t

[28, 26, 24, 22, 20, 18, 16, 14, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [66]:
t.copy()

[28, 26, 24, 22, 20, 18, 16, 14, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
from collections import deque
queue=deque(['Eric', 'John','Michael'])
queue.append("terry")
queue.popleft()
queue

deque(['John', 'Michael', 'terry'])

In [69]:
sq=list(x**2 for x in range(10))
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
vec=[-4,-2,0,2,4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [71]:
[x for x in vec if x>=0]

[0, 2, 4]

In [72]:
freshfruit=['    banana','   loganberry', 'passion fruit    ']

In [73]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [74]:
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [75]:
vec=[[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
#unpacking a list of lists of integers into a single list
[num for elem in vec for num in elem ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
from math import pi
[str(round(pi, i))for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

Nested List Comprehensions

In [78]:
matrix=[[1,2,3,4,5],[5,6,7,8],[9,10,11,12]]

In [80]:
%timeit [[row[i] for row in matrix] for i in range(4)]

1.91 μs ± 318 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

As we saw in the previous section, the inner list comprehension is evaluated in the context of the for that follows it, so the example is equivalent to:

In [81]:
transposed=[]
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

Which in turn, is the same as:

In [ ]:
transposed=[]
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row=[]
    for row in matrix:
        transposed_row.append(row[i])
        transposed.append(transposed_row)
transposed

In the real world, you should prefer built in functions to complete flow statements. The zip() function would do a great job for this use case.

In [87]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [88]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [89]:
print(basket)

{'pear', 'apple', 'orange', 'banana'}

Dictionaries are sometimes found in other languages as "associative memories or associative arrays".
 Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend()
 
 It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

In [90]:
tel={
    'jack': 4098,
    'sape': 4139,
    'guido': 4127,
    'jack1': 4098,
    'kwame':3222
}

In [95]:
for key,value in tel.items():
    print(key,value, end=' ', sep=",")

jack,4098 sape,4139 guido,4127 jack1,4098 kwame,3222

In [99]:
geja=((2,3),(6,2),(10,6),(20,15))
dict(geja)

{2: 3, 6: 2, 10: 6, 20: 15}

In [ ]:
#In addition, dict comprehension can be used to create dictionaries
#from arbitrary key and value expressions
{(x,y) for x in range(10,28,3) for y in range(15)}

Looping Techniques

#When looping through dictionaries, the key and corresponding value
#can be retrieved at the same time using the items() method.

for key, value in tel.items():
    print(key,value)

In [102]:
knights={'gallahad': "the pure", 'robin': "the brave"}
for k,v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [104]:
#When looping through a sequence, the index and corresponding value
#can be retrieved at the same time using the enumerate() function
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [ ]:
for i,v in enumerate(tel.items()):
    print(i,v)

In [109]:
questions=['name','quest','favorite color']
answers=['lancelot','the holy grail','blue']
for q,a in zip(questions,answers):
    print("what is your {0}? It is {1}.".format(q,a))

what is your name? It is lancelot.
what is your quest? It is the holy grail.
what is your favorite color? It is blue.

To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function

In [110]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [112]:
#to loop over a sequence in sorted order, use the sorted()
#function which returns a new sorted list while leaving the source
basket=['orange','apple','orange','apple','pear','banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [113]:
basket=['orange','apple','orange','apple','pear','banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [114]:
#it is sometimes tempting to change a list while you are looping
#over it; however, it is often simpler and ssafer to create a new
#list Instead.
import math
raw_data=[56.2, float('NaN'),51.7,55.3,52.5, float('NaN'),47.8]
filtered_data=[]
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

More on Conditions

In [117]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

6.Modules

In [8]:
import fibo

In [9]:
fibo.fib2(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [10]:
fibo.fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [11]:
#You can also assign a function to a local variable if you intend
#to use it more often
ffib=fibo.fib
ffib(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

Input and Output

In [20]:
#Fancier Output Formatting

# $using formatted string literals
year=2016
event='Referendum'
f'Results of the {year} {event}'

'Results of the 2016 Referendum'

The str.format() method of strings requires more manual effort. You’ll still use { and } to mark where a variable will be substituted and can provide detailed formatting directives, but you’ll also need to provide the information to be formatted. In the following code block there are two examples of how to format variables

In [18]:
yes_votes = 42_572_654
total_votes = 85_705_149
percentage = yes_votes / total_votes
'{:-9} YES votes  {:2.2%}'.format(yes_votes, percentage)

' 42572654 YES votes  49.67%'

In [25]:
import math
f'The value of pi is approximately {math.pi:.3f}.'

'The value of pi is approximately 3.142.'

Passing an integer after the ':' will cause that field to be a minimum number of characters wide. This is useful for making columns line up.

In [26]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

Other modifiers can be used to convert the value before it is formatted.'!a' applies ascii(), '!s' applies ascii and '!r' applies repr()

In [27]:
animals='eels'
print(f'My hovercraft is full of {animals}.')

print(f'My hovercraft is full of {animals!r}.')

My hovercraft is full of eels.
My hovercraft is full of 'eels'.

The = specifier can be used to expand an expression to the text of the expression, an equal sign, then the rrepresentation of the evaluated expression

In [28]:
bugs ='roaches'
count=13
area='living room'
print(f'Debugging {bugs=}{count=}{area=}')

Debugging bugs='roaches'count=13area='living room'

The String format Method

In [29]:
#Basic usage of the str.format() method looks like this:
print('We are the {} who say "{}!"'.format('knights','Ni'))

We are the knights who say "Ni!"

The brackets and characters within them (called format fields) are replaced with the objects passed into the str.format() method. A number in the brackets can be used to refer to the position of the object passed into the str.format() method.

In [32]:
print('{0} and {1}'.format('spam','eggs'))
print('{1} and {0}'.format('spam','eggs'))

spam and eggs
eggs and spam

In [33]:
print('This {food} is {adjective}.'.format(
    food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [34]:
table={'Sjoerd':4127,'Jack':4098,'Dcab':8637678}
print('Jack:{0[Jack]:d};Sjoerd:{o[Sjoerd]:d};Dcab:{Dcab:d}')

Jack:{0[Jack]:d};Sjoerd:{o[Sjoerd]:d};Dcab:{Dcab:d}

In [35]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; '
      'Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

In [40]:
repr(2).ljust(4)

'2   '

There is another method, str.zfill(), which pads a numeric string on the left with zeros. It understands about plus and minus signs:

In [44]:
'12'.zfill(5)
'-3.14'.zfill(7)
'3.14159265359'.zfill(5)

'3.14159265359'

Reading and writing files

#Open() returns a file object and is commmonlyy used with two positional arguments and one keyword argument: open(filename, mode, encoding=None).

In [49]:
f= open ('workfile','w',encoding='utf-8')

In [ ]:
with open('workfile',encoding='UFT-8') as f:
    read_data=f.read()
    f.closed

For reading lines from a file, you can loop over the file object. This is memory efficient, fast, and leads to simple code:

In [ ]:
for line in f:
    print(line, end='')

#If you want to read all the lines of a file in a list you can also 
# use list(f) or f.readlines().

# f.write(string) writes the contents of string to 
# the file, returning the number of characters written.

f.tell() returns an integer giving the file object’s current position in the file represented as number of bytes from the beginning of the file when in binary mode and an opaque number when in text mode.

To change the file object’s position, use f.seek(offset, whence). The position is computed from adding offset to a reference point; the reference point is selected by the whence argument. A whence value of 0 measures from the beginning of the file, 1 uses the current file position, and 2 uses the end of the file as the reference point. whence can be omitted and defaults to 0, using the beginning of the file as the reference point.

Strings can easily be written to and read from a file. Numbers take a bit more effort, since the read() method only returns strings, which will have to be passed to a function like int(), which takes a string like '123' and returns its numeric value 123. When you want to save more complex data types like nested lists and dictionaries, parsing and serializing by hand becomes complicated.

Rather than having users constantly writing and debugging code to save complicated data types to files, Python allows you to use the popular data interchange format called JSON (JavaScript Object Notation). The standard module called json can take Python data hierarchies, and convert them to string representations; this process is called serializing. Reconstructing the data from the string representation is called deserializing. Between serializing and deserializing, the string representing the object may have been stored in a file or data, or sent over a network connection to some distant machine.

In [52]:
import json
x=[1,'simple','list']
json.dumps(x)

'[1, "simple", "list"]'

In [ ]:
'''Another variant of the dumps() function, called dump(), 
simply serializes the object to a text file. So if f is a text 
file object opened for writing, we can do this:'''
json.dump(x, f)

In [ ]:
''' To decode the object again, if f is a binary file
or text file object which has been opened for reading:'''
x = json.load(f)

Note JSON files must be encoded in UTF-8. Use encoding="utf-8" when opening JSON file as a text file for both of reading and writing.

This simple serialization technique can handle lists and dictionaries, but serializing arbitrary class instances in JSON requires a bit of extra effort. The reference for the json module contains an explanation of this.

8. Errors and Exceptions

Until now error messages haven’t been more than mentioned, but if you have tried out the examples you have probably seen some. There are (at least) two distinguishable kinds of errors: syntax errors and exceptions.

Syntax errors, also known as parsing errors, are perhaps the most common kind of complaint you get while you are still learning Python:


The parser repeats the offending line and displays little arrows pointing at the token in the line where the error was detected. The error may be caused by the absence of a token before the indicated token. In the example, the error is detected at the function print(), since a colon (':') is missing before it. File name and line number are printed so you know where to look in case the input came from a script.

8.2. Exceptions
Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal: you will soon learn how to handle them in Python programs. Most exceptions are not handled by programs, however, and result in error messages as shown here:

In [ ]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
    if n%2!=0:
        print('Weird')
    elif n%2==0 and n>=2 and n<=5:
        print('Not Weird') 
    elif n%2==0 and n>=6 and n<=20:
        print('Weird')
    elif n%2 ==0 and n>20:
        print('Not Weird')

In [27]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    result = [[i, j, k]  for i in range(x + 1) for j in range(y + 1) for k in range(z + 1) if sum([i,j,k])!=n or sum([i,j,k])<=n]
    print(result)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

In [33]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    score_lst=[]
    max=0
    runner_up=0
    count=0
    
for i in range(n):
    repr(arr)

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    
    for i in range(n):
        max(arr)

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    max=0
    
    runner_up=0
    arr=list(arr)
    arr.sort()
    for i in range(n):
        max=arr[n]
        while arr[n-1]>=max:
                pass
        else:
            runner_up=arr[n-1]
            print(runner_up)

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    count=1
    arr=list(arr)
    arr.sort()
    max=arr[len(arr)-1]   
    if max>arr[len(arr)-1]:
        del arr[len(arr)-1]
        count+=1
        print(arr[len(arr)-count])
        
  $right code      
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    count=1
    arr=list(arr)
    arr.sort()
    max=arr[-1] 
    second_max=None  
    for i in range(len(arr) - 2, -1, -1):
         if arr[i] < max: 
            second_max = arr[i]
            break 
    print(second_max)

In [ ]:
n = int(input())
arr = list(map(int, input().split()))

if len(arr) == 0:
    print("List is empty")
else:
    arr.sort()
    max_val = arr[-1]

    # Remove all occurrences of the maximum value
    while arr and arr[-1] == max_val:
        arr.pop()

    # Check if list is empty after removing max value(s)
    if len(arr) == 0:
        print("No second maximum value")
    else:
        second_max = arr[-1]
        print(second_max)

In [13]:

name =['harry','berry','tina','akriti','harsh']
score = [37.21,37.21,37.2,41,39]
max=0
second_max=None
python_students=zip(name,score)
python_students=list(python_students)
for i in range(len(python_students)-1):
    if python_students[i][1]>max:
        second_max=max
        max=python_students[i][1]
    elif python_students[i][1]>second_max and python_students[i][1]<max:
        second_max=python_students[i][1]
        print(second_max)
print(python_students)

37.2
[('harry', 37.21), ('berry', 37.21), ('tina', 37.2), ('akriti', 41), ('harsh', 39)]

Fluent Python book

In [1]:
#build a list of Unicode codepoints from a string
symbols='$¢£¥€¤'
codes=[]
for symbol in symbols:
    codes.append(ord(symbol))
print(codes)

[36, 162, 163, 165, 8364, 164]

Listcomps Versus map and filter


listcomps do everything the map and filter functions do, without the contortions of functionality challenged python lambda

In [9]:
symbols='$¢£¥€¤'
beyond_ascci=[ord(s) for s in symbols if ord(s)>127]
print(beyond_ascci)

[162, 163, 165, 8364, 164]

In [8]:
symbols='$¢£¥€¤'
beyond_ascci1=list(filter(lambda c:c>127,map(ord,symbols)))
print(beyond_ascci1)

[162, 163, 165, 8364, 164]

Cartesian Products in listcomps

In [14]:
colours=['brown','Blue','Red','Yellow']
sizes=['S','M','L','Xl']
tshirts=[(t,s) for t in colours for s in sizes]
print(tshirts)

[('brown', 'S'), ('brown', 'M'), ('brown', 'L'), ('brown', 'Xl'), ('Blue', 'S'), ('Blue', 'M'), ('Blue', 'L'), ('Blue', 'Xl'), ('Red', 'S'), ('Red', 'M'), ('Red', 'L'), ('Red', 'Xl'), ('Yellow', 'S'), ('Yellow', 'M'), ('Yellow', 'L'), ('Yellow', 'Xl')]

In [ ]:
# Input number of students and their data
students = []
for _ in range(int(input("Enter the number of students: "))):
    name = input("Enter the student's name: ")
    grade = float(input("Enter the student's grade: "))
    students.append([name, grade])

# Extract all grades and find the second lowest
grades = sorted(set([student[1] for student in students]))
second_lowest_grade = grades[1]

# Find students with the second lowest grade
second_lowest_students = [student[0] for student in students if student[1] == second_lowest_grade]

# Sort names alphabetically and print
for name in sorted(second_lowest_students):
    print(name)